/* -------------------------------------------- Font -------------------------------------------- */

@font-face {
    font-family: 'Rajdhani-Light';
    src: url('../font/rajdhani/Rajdhani-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Rajdhani-Bold';
    src: url('../font/rajdhani/Rajdhani-Bold.ttf') format('truetype');
}

/* -------------------------------------------- Body -------------------------------------------- */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    color: #1c1c1c;
    background-attachment: fixed;
    background-color: #fff;
    background-image: url('../images/background/bookmark.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Rajdhani-Light, sans-serif;
    font-size: 110%;
    line-height: 1.4em;
    width: 100%;
}

#wrapper {
    min-height:100%;
    position: relative;
}

#main {
    margin: 0;
    padding-bottom: 6.25em; /* height of the footer */
}

#footer {
    bottom: 0;
    height: 5.25em; /* height of the footer */
    position: absolute;
    width: 100%;
}

/* -------------------------------------------- Bootstrap -------------------------------------------- */

.col-center, .col-center-logo, .col-center-footer {
    float: none;
}

.col-center {
    margin: 5% auto;
}

.col-center-logo {
    display: block;
    margin: 0 auto;
}

.col-center-footer {
    margin: 1% auto;
}

.col-banner {
    margin: 2% auto;
    min-height: 68.75em;
    width: 100%;
}

/* -------------------------------------------- Buttons -------------------------------------------- */

a.btn-primary {
    background-color: #0093d0;
    font-size: 1.1em;
    font-weight: 800;
    margin: 30px 0 30px 0;
    min-width: 12em;
}

a.btn-primary:hover {
    background-color: #04cbf5;
    
}

a.btn-dark {
    background-color: #1c1c1c;
    color: #f0f0f0;
    font-size: 1.1em;
    font-weight: 800;
    margin: 30px 0 30px 0;
    width: 12.5em;
}

a.btn-dark:hover {
    background-color: #151515;
    color: #f0f0f0;
}

/* -------------------------------------------- Form -------------------------------------------- */

label, input, textarea, input.btn-dark, a.btn-dark {
    font-weight: 800;
}

input.btn-dark, a.btn-dark {
    background-color: #111;
    font-weight: 800;
    margin-top: 0.5em;
}

form a.btn-dark {
    background-color: #111;
    color: #f0f0f0;
}

form a.btn-dark:hover {
    background-color: #2b2b2b;
    color: #f0f0f0;
}

/* -------------------------------------------- General -------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
    font-weight: bold; 
    line-height: 1.2em; 
    margin: 0.3em 0 0.3em 0; 
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.2em;
}

p {
    font-size: 1.0em; 
}

a {
    color: #0093d0;
    font-size: 1.0em;
    font-weight: bold; 
    text-decoration: none;
}

a:hover, a:active, a:focus {
    color: #04cbf5;
}

strong {
    font-weight: bold;
}

/* -------------------------------------------- Confirmation -------------------------------------------- */

.box-confirmation, .box-message {
    font-weight: 800;
    overflow: hidden;
    padding: 2em;
    width: 100%;
}

.banner-message {
    width: 100%;
    height: 100%;
}

.banner-message {
    background-color: rgba(240, 240, 240, 0.6);
    border-right: 0.06em solid #d1d1d1;
    border-bottom: 0.06em solid #d1d1d1;
}

.box-confirmation {
    height: 100%;
}

.box-message {
    height: 300px;
}

.box-confirmation h1, .box-confirmation p {
    display: block;
    text-align: center;
}

.box-confirmation .confirmation {
    font-size: 1.3em;
    font-weight: 900;
}

.box-message h2, .box-message p {
    text-align: left;
}

.box-configuration p, .box-message p {
    margin-bottom: 8px;
}

.box-confirmation a, .box-message a {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.box-confirmation img {
    display: block;
    height: 160px;
    margin: 0 auto;
    width: 160px;
}

.box-message .btn {
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

/* -------------------------------------------- Navbar -------------------------------------------- */

.navbar-custom {
    background-color: #000;
}

.navbar-custom .navbar-nav .nav-link {
    color: #0093d0;
    font-size: 1.0em;
    font-weight: bold;
} 

.navbar-custom .navbar-text {
    color: #0093d0;
    font-size: 1.0em;
    font-weight: bold;
    padding: 0.5em;
}

.navbar-custom .nav-item.active .nav-link, 
.navbar-custom .nav-item:hover .nav-link {
    color: #04cbf5;
}

.custom-toggler.navbar-toggler {
    border-color: rgb(0, 147, 208);
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,147,208, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* -------------------------------------------- Intro -------------------------------------------- */

.intro figure img {
    display: block; 
    margin: 0 auto; 
    min-width: 22.5em; 
    max-width: 100%; 
    height: auto;
}

.intro h1, .intro h2, .intro p, .intro a, .intro {
    display: block;
    text-align: center;
}

/* -------------------------------------------- Footer -------------------------------------------- */

.footer {
    background-color: #000;
    background-image: url(../images/footer/footer.png);
    background-repeat: repeat;
    font-size: 1.0em;
}

.footer-menu {
    margin: 1.25em;
}

.footer-menu li:nth-of-type(1) {
    font-size: 1.2em;
}

.footer p {
    color: #0093d0;
    font-size: 0.8em;
    font-weight: bold;
}

/* -------------------------------------------- Media -------------------------------------------- */

/* Mobile Devices */

@media screen and (min-width: 320px) and  (max-width: 414px) {
    h1 {
        font-size: 1.6em;
    }

    .box-display {
        max-width: 100% !important;
    }
}

/* Mobile and Tablet Devices */

@media screen and (min-width: 320px) and  (max-width: 768px) {

    .box-confirmation, .box-message {
        margin: 0;
        padding: 0;
    }

    .box-confirmation, .box-message {
        width: 100%;
    }

    .box-confirmation h3, .box-message h3 {
        font-size: 1em;
    }

    .box-confirmation a, .box-message a {
        font-size: 0.8em;
    }

    .box-confirmation p, .box-message p {
        font-size: 0.8em;
    }
}

/* Tablet Landscape */
@media screen and (min-width: 768px) {

}

/* Desktop Computers */
@media screen and (min-width: 992px) {

}