@page
@model ConfirmationModel
@{
}

<div class="container confirmation">
    <section class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="confirmation-message">
            <img src="~/images/logo/bluelogo.png" alt="Resident System logo" height="160" width="160" />
            <h1>@Model.ConfirmationMessage[0]</h1>
            <p>@Model.ConfirmationMessage[1]</p>
            <p>@Model.ConfirmationMessage[2]</p>

            <p>@Model.SpamMessage</p>

            <a class="btn btn-primary" href="~/index#contact" title="Back" role="button">Back</a>
        </div>
    </section>
</div>