@page
@model IndexModel
@{
}

<div class="container intro">
    <section class="row">
        <article class="col-sm-12">
            <header>
                <h1 class="heading">Resident Mail</h1>
            </header>
        </article>
    </section>
</div>

<div class="container">
        <section class="row">
            <article class="col-sm-8 col-center">

                <form method="post" asp-page="/confirmation">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Contact.Name" class="control-label">Name</label>
                        <input asp-for="Contact.Name" class="form-control" placeholder="Enter your name" />
                        <span asp-validation-for="Contact.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Contact.Email">Email:</label>
                        <input asp-for="Contact.Email" class="form-control" placeholder="Enter your email address" />
                        <span asp-validation-for="Contact.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Contact.Subject">Subject:</label>
                        <input asp-for="Contact.Subject" class="form-control" placeholder="Enter a subject" />
                        <span asp-validation-for="Contact.Subject" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Contact.Message">Message:</label>
                        <textarea rows="8" cols="20" asp-for="Contact.Message" class="form-control" placeholder="Enter your message"></textarea>
                        <span asp-validation-for="Contact.Message" class="text-danger"></span>
                    </div>
                    <div>
                        <input class="btn btn-dark" type="submit" value="Send Email" />
                    </div>
                </form>

            </article>
        </section>
    </div>